<div class="jumbotron text-center" data-bind="with: states[state()]">
    <h1>Brygger</h1>
    <p>
        &nbsp;
        <span data-bind="visible: timeLeft()">
            <span data-bind="text: timeLeft"></span> minuter kvar
        </span>
    </p>
    <div class="progress progress-striped active" style="height: 100px">
        <div class="progress-bar" role="progressbar" data-bind="style: {width: progress}" style="width: 0;">
        </div>
    </div>    
</div>
