<div class="jumbotron text-center">
    <h1>Häller upp</h1>
    <p>Någon tar sig en kopp</p>
    <div class="panel panel-default" style="margin-left: -30px">
        <div class="panel-body text-left">
            <img src="http://www.halcro.org/comctr/images/images/coffee_cup.gif" style="width: 190px" />
            <img src="http://www.halcro.org/comctr/images/images/coffee_cup.gif" style="width: 190px" />
            <img src="http://www.halcro.org/comctr/images/images/coffee_cup.gif" style="width: 190px" />
            <img src="http://www.halcro.org/comctr/images/images/coffee_cup.gif" style="width: 190px" />
            <img src="http://www.halcro.org/comctr/images/images/coffee_cup.gif" style="width: 190px" />
            <img src="http://www.halcro.org/comctr/images/images/coffee_cup.gif" style="width: 190px" />
        </div>
    </div>
</div>
