@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Finns det kaffe?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.3.min.js"></script>    
    @Styles.Render("~/css/bundle")
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 id="state">Unknown</h1>
            <p id="numberOfCups">Coffee time!</p>
            
        </div>
    </div>
    @Scripts.Render("~/js/bundle")    
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var coffeHubProxy = $.connection.coffeeHub;

            coffeHubProxy.client.coffeeDataTick = function (tick) {
                console.log(tick.StateName);
                console.log(tick.ElapsedTime);
                $("#state").text(tick.StateName);
                if (tick.NumberOfCups) {
                    $("#numberOfCups").text("Just nu finns det " + tick.NumberOfCups + " koppar kaffe!");
                } else {
                    $("#numberOfCups").text("");
                }
            };

            $.connection.hub.start()
                .done(function () { console.log('Now connected, connection ID=' + $.connection.hub.id); })
                .fail(function () { console.log('Could not Connect!'); });
        });
    </script>
</body>
</html>
