<div class="jumbotron text-center">
    <h1>Slut på kaffe</h1>    
    <p>Gå och gör nytt!</p>
    <div class="panel panel-default" style="margin-left: -30px">
        <div class="panel-body">
            <img src="@Url.Content("~/Content/images/nocoffee.png")" style="width: 400px" />
        </div>
    </div>
</div>
