@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Kaffestatus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.3.min.js"></script>
    @Styles.Render("~/css/bundle")
</head>
<body  id="coffeescale">
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/js/bundle")
    @RenderSection("scripts", required:false)
</body>
</html>
